/.venv/
/dest/
/sketch/
/__pycache__/
/src/modules/__pycache__/
/src/modules/CLAIM/__pycache__/
/lib/CLAIM/src/__pycache__/
/lib/CLAIM/src/utils/__pycache__/
sketch/
.DS_Store
.pyre/
/.github/

# Ignore dataset contents (users will download separately)
dataset/**
!dataset/.gitkeep
